{% load staticfiles %}

<html>
    <head>
        {% include 'yurjin_tour\base_head.html' %}
        
        {% block additional_css %}{% endblock %}
        
        <title>Yurjin-тур :: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="header">
	            <div style="float: left; width: 30%; height: 100px;"></div>
	            <div style="float: left; width: 40%; height: 100px;"><img src="{% static "yurjin_tour/images/sitelogo.png" %}" alt="SiteLogo"  height=100/></div>
	            <div style="float: left; width: 30%; height: 100px;"  align="right">
	                {% if user.is_authenticated %}
	                    Добро пожаловать, <strong>{{user.first_name}} {{user.last_name}}</strong>. <a href="{% url 'yurjin_tour:logout' %}">Выход</a>
	                {%  endif %}
	            </div>
        </div>
    <div id="leftmenu">
        <ul>
            <li><a href="{% url 'yurjin_tour:index' %}">Главная</a>
            <ul>
                <li><a href="{% url 'yurjin_tour:contract_archive' %}">Договоры</a></li>
                <li><a href="{% url 'yurjin_tour:tourist_list' %}">Туристы</a></li>
                
            <ul>
        </ul>
    </div>
    <div id="main">

        {% if is_paginated and paginator.num_pages > 1 %}
            <div id="pagination">
                <div id="previous-page">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'yurjin_tour:index' page_obj.previous_page_number %}"><<</a>
                    {% endif %}
                </div>
                <div id="next-page">
                    {% if page_obj.has_next %}
                        <a href="{% url 'yurjin_tour:index' page_obj.next_page_number %}">>></a>
                    {% endif %}
                </div>
                <div id="num-pages">
                    {% for pn in paginator.page_range %}
                        {% if not forloop.first %}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                        {% endif %}
                        {% if page_obj.number != pn %}
                            <a href="{% url 'yurjin_tour:index' pn %}">
                        {% endif %}
                        {{pn}}
                        {% if page_obj.number != pn %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>  
        {% endif %}
        
        {% block content %}
        
        
        
        {% endblock %}
    </div>
            
            
{% block footer %}{% endblock %}
    <div id="footer">
        <p>Все права принадлежат разработчикам сайта.</p>
        

        
    </div>
</body>
</html>
