{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static "yurjin_tour/css/print.css" %}" media="print">
	<link rel="stylesheet" href="{% static "yurjin_tour/css/base.css" %}" media="screen">
	{% block additional_css %}{% endblock %}
	
    <title>Yurjin-тур :: {% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header">
        <center><img src="{% static "yurjin_tour/images/sitelogo.png" %}" alt="SiteLogo"  height=100/></center>
    </div>
    <div id="leftmenu">
        <ul>
            <li><a href="{% url 'yurjin_tour:index' %}">Главная</a>
            <ul>
                <li><a href="{% url 'yurjin_tour:contract_archive' %}">Договоры</a></li>
            <ul>
        </ul>
    </div>
    <div id="main">
        {% if is_paginated and paginator.num_pages > 1 %}
            <div id="pagination">
                <div id="previous-page">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'yurjin_tour:index' page_obj.previous_page_number %}"><<</a>
                    {% endif %}
                </div>
                <div id="next-page">
                    {% if page_obj.has_next %}
                        <a href="{% url 'yurjin_tour:index' page_obj.next_page_number %}">>></a>
                    {% endif %}
                </div>
                <div id="num-pages">
                    {% for pn in paginator.page_range %}
                        {% if not forloop.first %}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                        {% endif %}
                        {% if page_obj.number != pn %}
                            <a href="{% url 'yurjin_tour:index' pn %}">
                        {% endif %}
                        {{pn}}
                        {% if page_obj.number != pn %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>  
        {% endif %}
        
        {% block content %}
        
        
        
        {% endblock %}
    </div>
    <div id="footer">
        <p>Все права принадлежат разработчикам сайта.</p>
    </div>
</body>
</html>