    {% if contract_list %}
        <table ><th>Договоры за {{month|date:'F o'}}</th>
            {% for contract in contract_list %}
                <tr>
                    <td>{{ contract }}</td><td><a href="{% url 'yurjin_tour:contract_print' contract.id %}">Распечатать</a></td>
                    <td><a href="{% url 'yurjin_tour:contract_edit' contract.id %}">Изменить</a></td>
                    <td><a href="{% url 'yurjin_tour:contract_delete' contract.id %}">Удалить</a></td>
                
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No contracts are available.</p>
    {% endif %}