    {% include "yurjin_tour/filter_form.html" %}
    {% if perms.yurjin_tour.add_contract %}<a href="{% url 'yurjin_tour:contract_add' %}" class="addlink">Добавить Договор</a>{% endif %}
    {% if contract_list %}
        <table style="contract_grid">
        {% if month %}
            <th>Договоры  за {{month|date:'F Y'}}</th>
        {% endif %}
            <tr>
                <td></td>
                <td>Менеджер</td>
                <td>Офис</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for contract in contract_list %}
                <tr>
                    <td>{{ contract }}</td>
                    <td {% if contract.get_payment_sum > 0 %} style="unpaid"{% endif %}>{{ contract.contract_sum }}</td>
                    <td>{{ contract.prepayment_sum }}</td>
                    <td>{{ contract.manager }}</td>
                    <td>{{ contract.office }}</td>
                    <td><a href="{% url 'yurjin_tour:contract_print' contract.id %}">Распечатать</a></td>
                    {% if perms.yurjin_tour.edit_contract %}<td><a href="{% url 'yurjin_tour:contract_edit' contract.id %}">Изменить</a></td>{% endif %}
                    {% if perms.yurjin_tour.delete_contract %}<td><a href="{% url 'yurjin_tour:contract_delete' contract.id %}">Удалить</a></td>{% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No contracts are available.</p>
    {% endif %}