<h1>Договор оказания услуг № {{contract.contract_date|date:"my" }}-{{contract.contract_num}}</h1>
<table>
<tr><td>{{ contract.office.office_city }}</td><td></td></tr>
</table>
<p>Общество с ограниченной ответственностью  «Жемчужный берег», именуемое в дальнейшем «Исполнитель», в лице директора Лошкарева Юрия Александровича, с одной стороны, и  
{{contract.client}}
, именуемый (ая) в дальнейшем «Клиент», с другой стороны, заключили настоящий договор о нижеследующем:</p>
<h2>1. ПРЕДМЕТ ДОГОВОРА</h2>
<p>1.1. Исполнитель, по поручению Клиента, за вознаграждение  принимает на себя обязательства  по бронированию, оплате, получению и передаче Клиенту выездных документов (ваучера, авиабилета, страховки) для осуществления туристической поездки в порядке и на условиях, изложенных в настоящем договоре, а Клиент обязуется оплатить подобранный и заказанный им тур в соответствии с ценой договора.</p>
<h2>2. ОБЯЗАННОСТИ ИСПОЛНИТЕЛЯ.</h2>
<p>2.1. Исполнитель, по поручению Клиента обязуется в соответствии с настоящим договором забронировать туристическую   поездку у туроператора
{{contract.tour_orepator}}
, в страну 
{{contract.resort.country}}
, город (курорт) 
{{contract.resort}}
, начиная с 
{{contract.tour_begin_date|date:"«d» M% Y" }}
«18» декабря  2016
 года по 
 «28» декабря 2016 
 
 года для следующих туристов:</p>